/* styles.css */

table {
    width: 100%;
    margin: 0 auto; /* Center the table */
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #1e094e;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.text-right {
    text-align: right;
}
